<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Registration</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<h1>Registration</h1>
				
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app! Now Enter Your More Details </div>
				</div>
				
				<p class="h4 mb-4">Save student</p>
		<!-- edited -->
		<form action="#" th:action="@{/ssave}"
						 th:object="${student}" method="POST">

			<input type="text" th:field="*{sname}"
					class="form-control mb-4 col-4" placeholder="sname">
					
			<input type="text" th:field="*{subi}"
					class="form-control mb-4 col-4" placeholder="subi">
					
			<input type="text" th:field="*{subii}"
					class="form-control mb-4 col-4" placeholder="subii">
					
			<input type="text" th:field="*{subiii}"
					class="form-control mb-4 col-4" placeholder="subiii">
					
			<input type="text" th:field="*{subiv}"
					class="form-control mb-4 col-4" placeholder="subiv">
					
			<input type="text" th:field="*{subv}"
					class="form-control mb-4 col-4" placeholder="subv">
					
			<input type="text" th:field="*{subvi}"
					class="form-control mb-4 col-4" placeholder="subvi">
					
			<input type="text" th:field="*{subvii}"
					class="form-control mb-4 col-4" placeholder="subvii">
					
			<input type="text" th:field="*{subviii}"
					class="form-control mb-4 col-4" placeholder="subviii">
					
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="email">
					
			<input type="text" th:field="*{dob}"
					class="form-control mb-4 col-4" placeholder="dob">
					
			<input type="text" th:field="*{cls}"
					class="form-control mb-4 col-4" placeholder="cls">
					
			<input type="text" th:field="*{mlang}"
					class="form-control mb-4 col-4" placeholder="mlang">
					
			<input type="text" th:field="*{cno}"
					class="form-control mb-4 col-4" placeholder="cno">
					
					
			
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>