<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Exam Directory</title>
</head>

<body>


<!-- <p th:text="'Time on the server is ' + ${theDate}" class="funny"/>  -->


<div class="container">

	<h3>Notification Directory</h3>
	<hr>
	
	<!-- add a button -->
	<a th:href="@{/admin/notification/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Notification
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>id</th>
				<th>Notification</th>
				<th>Date</th>
				<th>Delete</th>
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="temp : ${notification}">
			
				<td th:text="${temp.id}" />	
				<td th:text="${temp.noti}" />	
				<td th:text="${temp.date}" />	
				
				<td><a th:href="@{'/admin/notification/delete/{id}'(id=${temp.id})}" class="btn btn-danger btn-sm mb-3" method="GET">Delete</a></td>
				           
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>


	