<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save oex</title>
</head>

<body>

	<div class="container">
	
		<h3>oex Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save oex</p>
	
		<form action="#" th:action="@{/oex/save}"
						 th:object="${oex}" method="POST">
					
			<input type="text" th:field="*{oid}"
					class="form-control mb-4 col-4" placeholder="oid">

			<input type="text" th:field="*{subject}"
					class="form-control mb-4 col-4" placeholder="subject">
					
			<input type="text" th:field="*{exname}"
					class="form-control mb-4 col-4" placeholder="exname">
					
			<input type="text" th:field="*{stid}"
					class="form-control mb-4 col-4" placeholder="stid">
					
			<input type="text" th:field="*{enid}"
					class="form-control mb-4 col-4" placeholder="enid">
					
			
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/oex/list}">Back to oex List</a>
		
	</div>
</body>

</html>










