<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save student</title>
</head>

<body>

	<div class="container">
	
		<h3>student Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save student</p>
	
		<form action="#" th:action="@{/admin/student/save}"
						 th:object="${student}" method="POST">
					
			

			<input type="text" th:field="*{sname}"
					class="form-control mb-4 col-4" placeholder="sname">
					
			<input type="text" th:field="*{subi}"
					class="form-control mb-4 col-4" placeholder="subi">
					
			<input type="text" th:field="*{subii}"
					class="form-control mb-4 col-4" placeholder="subii">
					
			<input type="text" th:field="*{subiii}"
					class="form-control mb-4 col-4" placeholder="subiii">
					
			<input type="text" th:field="*{subiv}"
					class="form-control mb-4 col-4" placeholder="subiv">
					
			<input type="text" th:field="*{subv}"
					class="form-control mb-4 col-4" placeholder="subv">
					
			<input type="text" th:field="*{subvi}"
					class="form-control mb-4 col-4" placeholder="subvi">
					
			<input type="text" th:field="*{subvii}"
					class="form-control mb-4 col-4" placeholder="subvii">
					
			<input type="text" th:field="*{subviii}"
					class="form-control mb-4 col-4" placeholder="subviii">
					
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="email">
					
			<input type="text" th:field="*{dob}"
					class="form-control mb-4 col-4" placeholder="dob">
					
			<input type="text" th:field="*{cls}"
					class="form-control mb-4 col-4" placeholder="cls">
					
			<input type="text" th:field="*{mlang}"
					class="form-control mb-4 col-4" placeholder="mlang">
					
			<input type="text" th:field="*{cno}"
					class="form-control mb-4 col-4" placeholder="cno">
					
					
			
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/admin/student/list}">Back to student List</a>
		
	</div>
</body>

</html>










